<div class="container">

    {{#if promotion}}
        <div class="card card-body">
            <h3 class="text-primary">Promotions Jotted</h3>
            
            
            <table border="1">
                <tr>
                    <th>Prmotion Name</th>
                    <th>Redemption Per Person</th>
                    <th>Total Redemption</th>
                    <th>Promotion Amount</th>
                    <th>Promotion Code</th>
                    <th>Start of Promotion</th>
                    <th>End of Promotion</th>
                    <th>Promotion Valid</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {{#each promotion}}
                <tr>
                    <td>{{PromotionName}}</td>
                    <td>{{RedemptionPerPerson}}</td>
                    <td>{{TotalRedemption}}</td>
                    <td>{{PromotionAmount}}</td>
                    <td>{{PromotionCode}}</td>
                    <td>{{formatDate StartOfPromotion 'DD/MM/YYYY'}}</td>
                    <td>{{formatDate EndOfPromotion 'DD/MM/YYYY'}}</td>
                    <td>{{ValidPromo}}</td>
                    <td>
                        <a href="/updatePromotions/{{id}}" class="card-link">
                            <i class="fas fa-pencil-alt"></i>
                            Edit
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>

            
        </div>

</div>

{{else}}
<h3>No videos jotted</h3>
{{/if}}