{{!--
<link rel="stylesheet" href="/static/Chosen/docsupport/style.css"> --}}
<link rel="stylesheet" href="/static/Chosen/docsupport/prism.css">
<link rel="stylesheet" href="/static/Chosen/chosen.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script>

    $(document).ready(function () {
        $("#generatePromotionCodeButton").click(function () {

            $.ajax({
                url: '/promotion/generateCode',
                type: 'POST',
                contentType: false,
                processData: false,
                'success': (res) => {
                    $('#PromotionCode').val(res.response);
                    $('#PromotionCode').attr('readonly', 'readonly');

                }
            })
        });

        $('#LimitUserSwitch').change(
            function(){
                $('#divEmailLimit').toggleClass("hidden");
                
        });

        $.ajax({
            url: '/promotion/generateCode',
            type: 'POST',
            contentType: false,
            processData: false,
            'success': (res) => {
                $('#PromotionCode').val(res.response);
                $('#PromotionCode').attr('readonly', 'readonly');

            }
        })

        $('#EmailLimit').chosen();

    });

</script>

<form action="/promotion/createPromotions" method="post" id="addPromotionForm">

    <legend>
        <center>
            <h2><b>Criteria</b></h2>
        </center>
    </legend><br>




    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Set Restrictions </label>
        <div class="col-md-4 inputGroupContainer">

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="LimitUserSwitch" checked>
                <label class="form-check-label" for="LimitUserSwitch">Limit Users</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="LimitRedemptionPerPersonSwitch" >
                <label class="form-check-label" for="LimitRedemptionPerPersonSwitch">Limit Redemption Per Person</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="GlobalRedemptionSwitch" >
                <label class="form-check-label" for="GlobalRedemptionSwitch">Total Redemption</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="SetMinSpendSwitch" >
                <label class="form-check-label" for="SetMinSpendSwitch">Set Minimum Spend Amount</label>
            </div>

        </div>
    </div>

    <legend>
        <center>
            <h2><b>Create Promotion Form</b></h2>
        </center>
    </legend><br>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Name </label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">

                <input name="PromotionName" placeholder="Promotion Name" class="form-control" type="text"
                    id="PromotionName" value="{{PromotionName}}">
            </div>
        </div>
    </div>

    <div class="form-group" id="divEmailLimit">
        <label class="col-md-4 col-lg-12 control-label">Limit Users</label>
        <div class="col-md-4 inputGroupContainer">

            <div class="input-group">
                <select id="EmailLimit" multiple="" style="width: 300px;" name="EmailLimit"
                    data-placeholder="Select a Email...">
                    {{#each user}}
                    <option value="{{dataValues.email}}">{{dataValues.email}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
    {{!-- <div class="col-md-4 inputGroupContainer">
        <div class="input-group">

            <input name="EmailLimit" placeholder="" class="form-control" type="text" id="EmailLimit"
                value="{{EmailLimit}}">
        </div>
    </div> --}}


    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Redemption Per Person</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">

                <input name="RedemptionPerPerson" placeholder="Redemption Per Person" class="form-control" type="number"
                    id="RedemptionPerPerson" min="1" value="{{RedemptionPerPerson}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Total Redemption</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">

                <input name="TotalRedemption" placeholder="Total Redemption" class="form-control" type="number"
                    id="TotalRedemption" min="1" value="{{TotalRedemption}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Amount </label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">

                <input name="PromotionAmount" placeholder="Promotion Amount" class="form-control" type="number"
                    id="PromotionAmount" min="0" value="{{PromotionAmount}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Code</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">

                <input name="PromotionCode" placeholder="Promotion Code" class="form-control" type="text"
                    id="PromotionCode" value="{{PromotionCode}}">
                <button class="btn btn-success" type="button" id="generatePromotionCodeButton">Generate Code</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Purpose</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">


                <textarea name="Purpose" placeholder="Purpose" id="Purpose" cols="30" rows="10">{{Purpose}}</textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Start Date</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">

                <input name="StartOfPromotion" placeholder="StartOfPromotion" class="form-control" type="date"
                    id="StartOfPromotion" value="{{defaultStartDate}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">End Date</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">

                <input name="EndOfPromotion" placeholder="EndOfPromotion" class="form-control" type="date"
                    id="EndOfPromotion" value="{{endDate}}">
            </div>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label"></label>
        <div class="col-md-4"><br>
            <button type="submit" class="btn btn-warning" id="butAddPromotion">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span
                    class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </button>
        </div>
    </div>

    <script src="/static/Chosen/docsupport/jquery-3.2.1.min.js" type="application/javascript"></script>
    <script src="/static/Chosen/chosen.jquery.js" type="application/javascript"></script>
    <script src="/static/Chosen/docsupport/prism.js" type="application/javascript" charset="utf-8"></script>
    <script src="/static/Chosen/docsupport/init.js" type="application/javascript" charset="utf-8"></script>

</form>