

{{!-- <link rel="stylesheet" href="/static/Chosen/docsupport/style.css"> --}}
<link rel="stylesheet" href="/static/Chosen/docsupport/prism.css">
<link rel="stylesheet" href="/static/Chosen/chosen.css">



<script>

    $(document).ready(function () {
        $("#generatePromotionCodeButton").click(function () {

            $.ajax({
                url: '/promotion/generateCode',
                type: 'POST',
                contentType: false,
                processData: false,
                'success': (res) => {
                    $('#PromotionCode').val(res.response);
                    $('#PromotionCode').attr('readonly','readonly');

                }
            })
        });

        $('#PromotionCode').attr('readonly','readonly');

        let emails = "{{emails}}";

        if (emails != "NONE") {
            emails = emails.split(',');

            let EL = document.getElementById("EmailLimit");
            
            let user_emails = [];

            {{#each user}}
            user_emails.push('{{dataValues.email}}');
            {{/each}}
            
            console.log(user_emails)

            for (let i = 0; i < user_emails.length; i++) {

                if (emails.includes(user_emails[i])) {
                    EL.innerHTML += '<option value="' + user_emails[i] + '" selected>' + user_emails[i] + '</option>';
                }
                else {
                    EL.innerHTML += '<option value="' + user_emails[i] + '" >' + user_emails[i] + '</option>';
                }
                
            
            }
        }
        else {
            let EL = document.getElementById("EmailLimit");
            let user_emails = [];

            {{#each user}}
            user_emails.push('{{dataValues.email}}');
            {{/each}}

            for (let i = 0; i < user_emails.length; i++) {

                EL.innerHTML += '<option value="' + user_emails[i] + '" >' + user_emails[i] + '</option>';
 
            }

        }

        $('#EmailLimit').chosen();

    });

</script>

<form action="/promotion/saveEditedPromotion/{{promotion.dataValues.id}}?_method=PUT" method="post" id="addPromotionForm">
    
    <legend>
        <center>
            <h2><b>Update Promotion Form</b></h2>
        </center>
    </legend><br>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Name </label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                
                <input name="PromotionName" placeholder="Promotion Name" class="form-control" type="text"
                    id="PromotionName" value="{{promotion.dataValues.PromotionName}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Limit Users</label>
        <div class="col-md-4 inputGroupContainer">
            
            <div class="input-group">
                <select id="EmailLimit" multiple="" style="width: 300px;" name="EmailLimit" data-placeholder="Select a Email...">
                    {{!-- {{#each user}}
                        <option value="{{dataValues.email}}">{{dataValues.email}}</option>
                    {{/each}} --}}

                    
                </select>
            </div>
        </div>
    </div>
    {{!-- <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            
            <input name="EmailLimit" placeholder="" class="form-control" type="text" id="EmailLimit"
                value="{{EmailLimit}}">
        </div>
    </div> --}}
   

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Redemption Per Person</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                
                <input name="RedemptionPerPerson" placeholder="Redemption Per Person" class="form-control" type="number"
                    id="RedemptionPerPerson" min="1" value="{{promotion.dataValues.RedemptionPerPerson}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Total Redemption</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                
                <input name="TotalRedemption" placeholder="Total Redemption" class="form-control" type="number"
                    id="TotalRedemption" min="1" value="{{promotion.dataValues.TotalRedemption}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Amount </label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                
                <input name="PromotionAmount" placeholder="Promotion Amount" class="form-control" type="number"
                    id="PromotionAmount" min="0" value="{{promotion.dataValues.PromotionAmount}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Code</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                
                <input name="PromotionCode" placeholder="Promotion Code" class="form-control" type="text"
                    id="PromotionCode" value="{{promotion.dataValues.PromotionCode}}">
                    <button type="button" id="generatePromotionCodeButton">Generate Code</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Purpose</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                

                <textarea name="Purpose" placeholder="Purpose" id="Purpose" cols="30" rows="10">{{promotion.dataValues.Purpose}}</textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Start Date</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                
                <input name="StartOfPromotion" placeholder="StartOfPromotion" class="form-control" type="date"
                    id="StartOfPromotion" value="{{startDate}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">End Date</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                
                <input name="EndOfPromotion" placeholder="EndOfPromotion" class="form-control" type="date"
                    id="EndOfPromotion" value="{{endDate}}">
            </div>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label"></label>
        <div class="col-md-4"><br>
            <button type="submit" class="btn btn-warning" id="butAddPromotion">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span
                    class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </button>
        </div>
    </div>

<script src="/static/Chosen/docsupport/jquery-3.2.1.min.js" type="application/javascript"></script>
<script src="/static/Chosen/chosen.jquery.js" type="application/javascript"></script>
<script src="/static/Chosen/docsupport/prism.js" type="application/javascript" charset="utf-8"></script>
<script src="/static/Chosen/docsupport/init.js" type="application/javascript" charset="utf-8"></script>

</form>


